.idea/
importantThings/build/
**/*/eversports.*
.customZsh/zshrc/javascript_functions/vendor
**/*/.yarnrc
**/*/.yarn
**/*/moment.js
.customZsh/projects_db
.customZsh/projects_ns_db

.customZsh/zshrc/team/*.sh
dist
node_modules